:root {
  --white: #fefae0;
  --lgreen: #606c38;
  --dgreen: #283618;
  --lbrown: #dda15e;
  --dbrown: #bc6c25;
}

body, html {
  background-color: var(--white);
  margin: 0 auto;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  height: 60px;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.header .cart {
  width: 30px;
  float: right;
  margin: 30px 40px 0px 0px;
  transition: all 400ms;
}

.header .cart:hover {
  width: 28px;
  margin: 29px 40px 0px 0px;
  cursor: pointer;
}

.header input {
  width: 20%;
  font-size: 20px;
  background-color: var(--white);
  color: black;
  padding: 5px;
}

.header .search {
  position: absolute;
  margin-top: 30px;
  background-color: var(--dgreen)
}

.header button img {
  height: 25px;
}

h1 {
  text-align: left;
  padding: 0px 0px 0px 25px;
  display: inline-block;
  width: 33%;
}

a {
  text-decoration: none;
  color: black;
}

.label-container {
  width: 33%;
  display: inline-block;
  text-align: center;
}

.remaining {
  width: 34%;
  display: inline;
}

.label {
  text-align: left;
  font-size: 20px;
  padding: 0;
  margin: 0 auto;
  transition: color 500ms, transform 600ms;
}

.label:hover {
  color: var(--lgreen);
  cursor: pointer;
  transform: scale(1.2);
}

.product-container {
  display: relative;
  z-index: 1.1;
  min-width: 300px;
  width: 23%;
  height: 350px;
  margin: 0.5% 0.5% 0px 1%;
  background-color: white;
  border-radius: 15%;
  float: left;
  transition: all 500ms;
}

.product-container:hover {
  transform: scale(1.03);
  box-shadow: 2px 2px 2px var(--lgreen);
  cursor: pointer;
}

.product-container:hover h1 {
  color: var(--lbrown);
}

.product-container h1 {
  color: black;
  text-align: left;
  font-size: 20px;
  width: 90%;
  margin-left: 10px;
  margin-bottom: 0px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-container h2 {
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
}

.product-container h3 {
  margin: 0;
  margin-left: 20px;
  font-size: 15px;
}

.product-container img {
  max-width: 170px;
  height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.products-container {
  float: left;
  display: flex;
  position: fixed;
  height: 600px;
  width: 90%;
  margin: 5%;
  margin-top: 160px;
  float: left;
  flex-wrap: wrap;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .product-container {
      margin: 0% 15% 5% 15%;
  }

  .products-container:last-child {
      margin-bottom: 110px;
  }
  
}

.hero-banner-container {
  position: fixed;
  margin: 2.5%;
  margin-top: 75px;
  width: 95%;
  min-height: 480px;
  background-color: var(--dgreen);
  border-radius: 10%;
  z-index: -1;
}

.info {
  width: 25%;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: var(--white);
}

.info label:hover, label:active {
  transform: scale(1.1);
}

.info label:active {
  transform: scale(1.1);
}

.black-font {
  color: var(--lgreen);
}

.black-font:hover {
  cursor: pointer;
}

.hero-banner-container h1 {
  text-align: center;
  width: 50%;
  word-spacing: 1rem;
  color: var(--white);
  font-size: 40px;
}

.product-details-container {
  display: flex;
  float: left;
  margin: 20%;
  width: 60%;
  margin-top: 180px;
}

.product-details-container img {
  width: 230px;
  height: 350px;
  box-shadow: 0px 0px 2px var(--white);
}

.product-details-container h2 {
  color: var(--white);
  margin: 1px;
}

.product-details-container h3 {
  color: var(--lbrown);
  margin: 1px;
}

.product-details-container button {
  font-size: 18px;
  margin-left: 10px;
}

.details {
  width: 90%;
  margin: 5%;
}

.dropdown-label {
  font-size: 20px;
  background-color: var(--white);
  padding: 0;
  margin: 0;
  width: 100px;
  border: 1px solid black;
}

.dropdown-label:first-of-type {
  margin-top: 50px;
}

.dropdown-label {
  display: none;
}

.dropdown {
  display: none;
}

@media screen and (max-width: 1100px) {
  .label-container {
      display: none;
  }

  .dropdown {
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    margin-left: 8%;
  }

  .dropdown button img {
    width: 25px;
    height: 30px;
  }
  
  .remainder {
    width: 50%;
    float: right;
  }
  .header input {
    width: 25%;
    display: relative;
  }
  h1 {
      width: 45%;
  }

  .product-container {
    margin: auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .remainder {
    float:center;
    width: 100%;
  }

  .search {
    width: 8%;
    margin-top: 0px;
    top: 57px;
    height: 36px;
    position: absolute;
  }

  .cart {
    position: fixed;
    top: 0;
  }

  .header input {
    width: 70%;
    margin-left: 10%;
  }

  h1 {
      width: 100%;
  }

  .hero-banner-container {
    position: fixed;
    margin-top: 140px;
  }

  .product-container {
    width: 50%;
    margin: 1% 18%;
    padding: 0;
  }

  .products-container {
    margin-top: 220px;
    height: 360px;
  }
  .dropdown button {
    position: absolute;
    margin-right: 50px;
  }

  .dropdown-label {
    margin-right: 10px;
    padding-left: 3px;
  }

  .dropdown-label:first-of-type {
    margin-top: 52px;
  }
  
}

@media screen and (max-width: 500px) {

  .dropdown {
    right: 20px;
  }

}